*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #92f0f3, #f1ea84 50%, #92f0f3);
}

legend{
    font-weight: bold;
}

header, nav, main, section, footer {
    padding: 20px;
    border: 2px solid #080808;
    margin: 10px;
    /*background-color: aliceblue;*/
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: left; /* Centra el contenido; ajusta a space-between si deseas que el título esté a la derecha */
}

.logo {
    width: 90px; /* Ajusta el tamaño del logo según tu diseño */
    height: auto;
    margin-right: 15px; /* Espacio entre el logo y el título */
}

a{
    text-decoration: none;  
}

a:hover{
    color: black;
  }

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer, header {
    text-align: center;
}

footer img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: auto; /* Mantiene la proporción */
    margin: 0 10px; /* Espacio entre los iconos */
  }

  /* Media queries para responsive */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery {
        justify-content: center;
    }

    .image-container {
        width: 250px;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 90%;
        margin: 10px 0;
    }
}

/* Contenedor de productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Estilos de las Cards */
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* Imagen de producto */
.product-card img {
    width: 100%;
    border-radius: 8px;
}

/* Título de producto */
.product-card h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #333;
}

/* Descripción del producto */
.product-card p {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
}
